<a href="https://colab.research.google.com/github/ApoloGrecco/projects_py/blob/main/list_and_tuples/introduction_to_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
ages1 = 39
ages2 = 30
ages3 = 27
ages4 = 18

In [3]:
print(ages1)
print(ages2)
print(ages3)
print(ages4)

39
30
27
18

In [4]:
ages = [39, 30, 27, 18]

In [5]:
print(type(ages))
print(len(ages))
print(ages[0])
print(ages[1])
print(ages[2])
print(ages[3])

<class 'list'>
4
39
30
27
18

In [6]:
ages.append(15)
print(ages)

[39, 30, 27, 18, 15]

In [7]:
print(ages[4])

15

In [8]:
for age in ages:
    print(age)

39
30
27
18
15

In [9]:
ages.remove(30)
print(ages)

[39, 27, 18, 15]

In [10]:
ages.append(15)
print(ages)
ages.remove(15)
print(ages)

[39, 27, 18, 15, 15]
[39, 27, 18, 15]

In [11]:
ages.append(27)
ages.remove(27)
print(ages)

[39, 18, 15, 27]

In [12]:
ages.clear()
print(ages)

[]

In [13]:
ages = [39, 18, 15, 27]

In [14]:
print(28 in ages)
print(15 in ages)

False
True

In [15]:
if 15 in ages:
    ages.remove(15)

In [16]:
print(ages)

[39, 18, 27]

In [17]:
if 28 in ages:
    ages.remove(28)

In [18]:
ages.append(19)
print(ages)

[39, 18, 27, 19]

In [19]:
ages.insert(0, 20)
print(ages)

[20, 39, 18, 27, 19]

In [20]:
ages = [20, 39, 18]
print(ages)

[20, 39, 18]

In [21]:
ages.append([27, 19])
print(ages)

[20, 39, 18, [27, 19]]

In [22]:
for element in ages:
    print("Recebi o elemento", element)

Recebi o elemento 20
Recebi o elemento 39
Recebi o elemento 18
Recebi o elemento [27, 19]

In [23]:
ages = [20, 39, 18]
ages.extend([27, 19])
ages

[20, 39, 18, 27, 19]

In [25]:
for age in ages:
  print(age + 1)

21
40
19
28
20

In [27]:
ages_next_year = []
for age in ages:
  ages_next_year.append(age+1)
ages_next_year

[21, 40, 19, 28, 20]

In [31]:
ages_next_year =[(age+1) for age in ages]
print(ages_next_year)

[21, 40, 19, 28, 20]

In [33]:
[(age) for age in ages if age > 21]

[39, 27]

In [36]:
ages

[20, 39, 18, 27, 19]

In [37]:
def next_year(age):
  return age+1

[next_year(age) for age in ages if age > 21]

[40, 28]

In [40]:
def view_processing(list):
  print(len(list))
  list.append(13)

In [41]:
ages = [16, 21, 29, 56, 43]
view_processing(ages)
ages

5

[16, 21, 29, 56, 43, 13]

In [42]:
def view_processing(list = []):
  print(len(list))
  list.append(13)

In [43]:
view_processing()

0

In [44]:
view_processing(ages)

6

In [45]:
view_processing()

1

In [47]:
view_processing()

3

In [51]:
def view_processing(lista = list()):
  print(len(lista))
  print(lista)
  lista.append(13)

In [52]:
view_processing()

0
[]

In [53]:
view_processing()

1
[13]

In [54]:
view_processing()

2
[13, 13]

In [55]:
view_processing()

3
[13, 13, 13]

In [57]:
def view_processing(lista = None):
  if lista == None:
    lista = list()
  print(len(lista))
  print(lista)
  lista.append(13)

In [58]:
view_processing()

0
[]

In [59]:
view_processing()

0
[]

In [60]:
view_processing()

0
[]

# Own Objects

In [3]:
class CheckingAccount:
  def __init__(self, code):
    self.code = code
    self.balance = 0

  def deposit(self, value):
    self.balance += value;

  def __str__(self):
    return f"[Código {self.code} Saldo {self.balance}<<]"

In [4]:
account_Gui = CheckingAccount(15)
print(account_Gui)

[Código 15 Saldo 0<<]

In [5]:
account_Gui.deposit(500)
print(account_Gui)

[Código 15 Saldo 500<<]

In [6]:
account_Dri = CheckingAccount(47685)
account_Dri.deposit(1000)
print(account_Dri)

[Código 47685 Saldo 1000<<]

In [9]:
accounts = [account_Gui, account_Dri]
for account in accounts: 
  print(account)

[Código 15 Saldo 500<<]
[Código 47685 Saldo 1000<<]

In [10]:
accounts = [account_Gui, account_Dri, account_Gui]

In [11]:
print(accounts[0])

[Código 15 Saldo 500<<]

In [12]:
account_Gui.deposit(100)

In [14]:
print(accounts[0])

[Código 15 Saldo 600<<]

In [15]:
print(accounts[2])

[Código 15 Saldo 600<<]

In [17]:
accounts[2].deposit(300)

In [18]:
print(account_Gui)

[Código 15 Saldo 900<<]

In [19]:
def deposit_all_accounts(accounts):
  for account in accounts:
    account.deposit(100)

accounts = [account_Gui, account_Dri]
print(accounts[0], accounts[1])
deposit_all_accounts(accounts)
print(accounts[0], accounts[1])

[Código 15 Saldo 900<<] [Código 47685 Saldo 1000<<]
[Código 15 Saldo 1000<<] [Código 47685 Saldo 1100<<]

In [20]:
accounts.insert(0, 76)
print(accounts[0], accounts[1], accounts[2])

76 [Código 15 Saldo 1000<<] [Código 47685 Saldo 1100<<]

In [21]:
deposit_all_accounts(accounts)
print(accounts[0], accounts[1], accounts[2])

AttributeError: ignored

In [22]:
guilherme = ('Guilherme', 37, 1981) # Tupla
daniela = ('Daniela', 31, 1987)
# paulo = (39, 'Paulo', 1979) # Prática ruim

In [23]:
guilherme.append(6754)

AttributeError: ignored

In [26]:
account_Gui = (15, 1000)
# account_gui.deposit() # Variação OO

# def deposit(account): # Variação Funcional
account_Gui[1]

1000

In [27]:
account_Gui[1] += 100

TypeError: ignored

In [28]:
def deposit(account): # Variação "Funcionao" (separando o comportamento dos dados)
  new_balance = account_Gui[1] + 100
  code = account[0]
  return (code, new_balance)

In [31]:
deposit(account_Gui)

(15, 1100)

In [33]:
account_Gui

(15, 1000)

In [37]:
account_Gui = deposit(account_Gui)
account_Gui

(15, 1400)

In [41]:
users = [guilherme, daniela]

In [43]:
users.append(('Paulo', 39, 1979))

In [44]:
users

[('Guilherme', 37, 1981), ('Daniela', 31, 1987), ('Paulo', 39, 1979)]

In [47]:
users[0][0] = 'Guilherme Silveira'

TypeError: ignored

In [48]:
account_Gui = CheckingAccount(15)
account_Gui.deposit(500)
account_Dri = CheckingAccount(234876)
account_Dri.deposit(1000)

accounts = (account_Gui, account_Dri)

In [49]:
accounts

(<__main__.CheckingAccount at 0x7f52af115d50>,
 <__main__.CheckingAccount at 0x7f52af115910>)

In [51]:
for account in accounts:
  print(account)

[Código 15 Saldo 500<<]
[Código 234876 Saldo 1000<<]

In [52]:
accounts.append(234876)

AttributeError: ignored

In [53]:
accounts[0].deposit(300)

In [54]:
for account in accounts:
  print(account)

[Código 15 Saldo 800<<]
[Código 234876 Saldo 1000<<]

# Working with inheritance and polymorphism

In [78]:
from abc import ABCMeta, abstractmethod

class Account(metaclass=ABCMeta):
  def __init__(self, code):
    self._code = code
    self._balance = 0

  def deposit(self, value):
    self._balance += value;

  @abstractmethod
  def month_passes(self):
    pass

  def __str__(self):
    return f"[Código {self._code} Saldo {self._balance}<<]"

In [79]:
print(Account(88))

TypeError: ignored

In [80]:
class CheckingAccount(Account):

    def month_passes(self):
      self._balance -= 2

class SavingsAccount(Account):

    def month_passes(self):
      self._balance *= 1.01
      self._balance -= 3

class InvestmentAccount(Account):
    pass

In [81]:
InvestmentAccount(765)

TypeError: ignored

In [64]:
account16 = CheckingAccount(16)
account16.deposit(1000)
account16.month_passes()
print(account16)

[Código 16 Saldo 998<<]

In [65]:
account17 = SavingsAccount(17)
account17.deposit(1000)
account17.month_passes()
print(account17)

[Código 17 Saldo 1007.0<<]

In [68]:
account16 = CheckingAccount(16)
account16.deposit(1000)
account17 = SavingsAccount(17)
account17.deposit(1000)
accounts = [account16, account17]

for account in accounts:
  account.month_passes()  # duck type
  print(account)

[Código 16 Saldo 998<<]
[Código 17 Saldo 1007.0<<]

# Array, we will avoid using

# we will avoid using pure array, if we need to work with numeric, it is customary to use NumPy

In [69]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [70]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [72]:
import numpy as np

numbers = np.array([1, 3.5])
numbers

array([1. , 3.5])

In [73]:
numbers + 3

array([4. , 6.5])

In [90]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def __eq__(self, other):
    return self._code == other._code

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return f"[>>Código: {self._code} - Saldo: R${self._balance}<<]"

In [91]:
account1 = SalaryAccount(37)
print(account1)

[>>Código: 37 - Saldo: R$0<<]

In [92]:
account2 = SalaryAccount(37)
print(account2)

[>>Código: 37 - Saldo: R$0<<]

In [93]:
account1 == account2

True

In [88]:
accounts = [account1]
account1 in accounts

True

In [96]:
account2 in accounts

True

In [95]:
account1 in [account2]
account2 in [account1]

True

In [97]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def __eq__(self, other):
    return self._code == other._code and self._balance == other._balance

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return f"[>>Código: {self._code} - Saldo: R${self._balance}<<]"

In [101]:
account1 = SalaryAccount(37)
account2 = SalaryAccount(37)
account1 == account2

True

In [102]:
account1.deposit(10)

In [103]:
account1 == account2

False

In [106]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def __eq__(self, other):
    if type(other) != SalaryAccount:
      return False

    return self._code == other._code and self._balance == other._balance

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return f"[>>Código: {self._code} - Saldo: R${self._balance}<<]"

In [107]:
account1 = SalaryAccount(37)
account2 = CheckingAccount(37)

In [108]:
account1 == account2

False

In [110]:
class SalaryAccount:

  def __init__(self, code):
    self._code = code
    self._balance = 0

  def __eq__(self, other):
    if type(other) != SalaryAccount:
      return False

    return self._code == other._code and self._balance == other._balance

  def deposit(self, value):
    self._balance += value

  def __str__(self):
    return f"[>>Código: {self._code} - Saldo: R${self._balance}<<]"

class MultipleSalaryAccount(SalaryAccount):
  pass

In [112]:
account1 = SalaryAccount(37)
account2 = CheckingAccount(37)
isinstance(CheckingAccount(34), CheckingAccount)

True

In [114]:
isinstance(CheckingAccount(34), Account)

True

In [129]:
ages = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(ages)):
  print(i, ages[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [123]:
enumerate(ages) # lazy....

In [126]:
range(len(ages)) # lazy....

range(0, 8)

In [127]:
list(range(len(ages))) # forced the generation of values

[0, 1, 2, 3, 4, 5, 6, 7]

In [128]:
list(enumerate(ages))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [131]:
for indice, age in enumerate(ages): #unpacking tupla
  print(indice, "x", age)

0 x 15
1 x 87
2 x 32
3 x 65
4 x 56
5 x 32
6 x 49
7 x 37

In [133]:
users = [
         ("Guilherme", 37, 1981),
         ("Daniela", 31, 1971),
         ("Paulo", 39, 1979)
]
for name, age, birth in users: # already unpacking
  print(name)

Guilherme
Daniela
Paulo

In [136]:
for name, _, _ in users: # already unpacking, ignoring the rest
  print(name)

Guilherme
Daniela
Paulo